body {
  background: #f1f4f7;
  padding-top: 60px;
  font-size: 14px;
  color: #444444;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  color: #777; }

a, a:hover, a:focus {
  color: #f4511e; }

h1, h2, h3, h4, h5, h6 {
  color: #444444; }

h1 {
  font-weight: 300;
  font-size: 40px; }

h2 {
  font-weight: 300;
  margin-bottom: 20px; }

h3, h4 {
  font-weight: 300; }

.large {
  font-size: 2em; }

.color-blue {
  color: #f4511e; }

.color-teal {
  color: #1ebfae; }


.no-padding {
  padding: 0;
  margin: 0; }

.fa-xl {
  font-size: 2em; }

.navbar-custom {
  background: #222;
  height: 60px; }

.navbar-header .navbar-brand {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  height: 60px;
  padding-top: 18px; }

.navbar-header .navbar-brand span {
  color: #f4511e; }

.navbar-toggle:hover {
  background: rgba(255, 255, 255, 0.05); }

.divider, .clear {
  clear: both; }

.panel-widget {
  padding: 10px 0;
  position: relative;
  box-shadow: none;
  border-radius: 0;
  background: none;
  text-align: center;
  color: #333; }

.clickable {
  cursor: pointer; }

@media (min-width: 768px) {
  .sidebar {
    display: block;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; }

  .navbar-header {
    width: 100%; } }
.sidebar ul.nav a:hover, .sidebar ul.nav li.parent ul li a:hover {
  text-decoration: none;
  background-color: #f4511e;
  color: #fff; }

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active, .sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover, .sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
  color: #fff;
  background-color: #f4511e; }

.sidebar ul.nav ul, .sidebar ul.nav ul li {
  list-style: none;
  list-style-type: none; }

.sidebar ul.nav li a {
  height: 50px;
  font-size: 15px;
  line-height: 2em;
  color: #444444; }

.sidebar ul.nav ul.children {
  width: auto;
  padding: 0;
  margin: 0;
  background: #f9f9f9; }

.sidebar ul.nav ul.children li a {
  height: 40px;
  background: #f1f4f7;
  color: #444444; }

.sidebar ul.nav li.current a {
  background-color: #f4511e;
  color: #fff !important; }

.sidebar ul.nav li.parent ul li a {
  border: none;
  display: block;
  padding-left: 30px;
  line-height: 40px;
  border-radius: 0; }

.sidebar ul.nav li.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px 0; }

.profile-sidebar {
  padding: 10px 0;
  border-bottom: 1px solid #e9ecf2; }

.profile-usertitle {
  float: left;
  text-align: left;
  margin: 10px 0 0 12px; }

.profile-usertitle-name {
  font-size: 20px;
  margin-bottom: 0px; }


.donut {
  width: 100%; }

  .button{
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
  }
  
  .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    .button:hover span {
      padding-right: 25px;
    }
    
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }